<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=story.title%></title>
    <link rel="stylesheet" href="/stylesheets/stylesheet2.css" type="text/css">
</head>
<body>
<div class="header">
    <a href="/home">back</a>
</div>
<h1><%=story.title%></h1><br>
<p><%=story.story%></p><br>
<p id="author"><%=story.author%></p><br>
<ul>
    <% var i; %>
    <% for (i = comments.length; i > comments.length - 10; i--){ %>
        <% if (comments[i]) { %>
            <li>
               <p3><%=comments[i].comment%></p3>
               <p4><%=comments[i].author%></p4>
           </li>
      <% } %>
    <% } %>
</ul>
<%if (user) { %>
<form name="input" action="/story/<%=story._id%>/comment" method="post">
    <textarea id='comment' type='text' name='comment' placeholder='enter your comment here' required></textarea><br>
    <input id='submit2' type="submit" value="Submit"><br>
</form>
<% } else { %>
<a href='/login'>Login to comment.</a>
<% } %>
</body>
</html>